*,
*:after,
*:before {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    position: relative;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(25, 25, 25);
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-color 1s, background-image 1s;
}

#bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.25s;
}

.menuElementBottomMargin {
    margin-bottom: 2rem;
}

header {
    display: flex;
    justify-content: left;
    flex-direction: row;
    padding: 2rem 2rem 2rem 2rem;
    position: absolute;
    width: 100%;
    z-index: 9998;
} header button {
    font-size: 1.5em;
    border-radius: 1000rem;
    border: 2px white solid;
    background-color: transparent;
    transition: background-color 0.25s, color 0.25s;
    user-select: none;
    margin: 0 0 0 1rem;
    width: 3rem;
    height: 3rem;
    padding: 0;
    background-color: white;
    transition: background-color 0.25s;
} header button:hover {
    background-color: transparent;
    cursor: pointer;
    color: white;
} header #dropd {
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 0 1000rem 1000rem 0;
    display: none;
} header i {
    margin-top: 0.35rem;
}

main {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    z-index: 9000;
    display: flex;
    justify-content: center;
}

main h1 {
    font-size: 10em;
    color: white;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.25s;
}

main h2{
    font-size: 2.5em;
    font-family: 'Rubik', sans-serif;
    color: white;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.25s;
    width: 100%;
    text-align: center;
}

#center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    width: 50rem;
}

#tasks {
    color: white;
    display: grid;
    justify-items: start;
    grid-template-areas:
        "t t t"
        "t t t";
    justify-content: center;
}

#tasks div{
    margin: 1rem;
    padding: 2rem;
    width: 20rem;
    border-radius: 0.5rem;
    background-color:rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

#tasks div input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 1000rem;
    margin-right: 0.5rem;
    transition: background-color 0.25s;
  }
  
#tasks div input[type="checkbox"]::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1000rem;
  }

#tasks div input[type="checkbox"]:checked::before {
    background-color: white;
  }

#tasks div input[type="checkbox"]:hover {
  cursor: pointer;
}

#settingsmenu {
    color: white;
    background-color: hsl(0, 0%, 10%);
    position: absolute;
    border-radius: 1rem;
    width: 40rem;
    height: 30rem;
    font-family: 'Rubik', sans-serif;
    transition: display 0.5s;
    animation-name: menuAppear;
    animation-duration: 0.75s;
    animation-timing-function: ease;
    z-index: 9999;
}

@keyframes menuAppear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        'menu main'
        'menu footer';
    align-items: center;
    align-content: space-between;
    justify-items: start;
}

#form button {
    text-align: center;
    font-size: 1.25em;
    font-family: 'Rubik', sans-serif;
    border-radius: 1000rem;
    padding: 0.5rem;
    width: 40%;
    border: 0;
    background-color: white;
    transition: background-color 0.25s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    grid-area: main;
    cursor: pointer;
}

#customizations {
    width: 80%;
    text-align: center;
    grid-area: main;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

#customizations button {
    font-size: 1em;
}

#customizations input[type="color"] {
    width: 100% !important;
    height: 50%;
    background: none;
    border: 0;
}

#chooseImg {
    width: 100% !important;
    background-color: black !important;
    color: white;
    border: 1px hsl(0, 0%, 50%) solid !important;
}

#chooseImg:hover {
    color: white !important;
}

#customizations>#backgroundcustom>div {
    padding: 1.915rem;
}

#backgroundcustom {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

#imginput {
    display: none;
}

#customizations h3 {
    margin-bottom: 0.3rem;
}

.side {
    height: 100%;
    border-radius: 1rem 0 0 1rem;
    background-color: hsl(0, 0%, 5%);
    padding: 2.5rem;
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side button {
    padding: 2rem 0 2rem 0;
    color: white;
    background-color: transparent !important;
}

.side button:hover {
    color: white !important;
    background-color: transparent !important;
    text-decoration: underline;
}

#menuButtons {
    grid-area: footer;
    margin-bottom: 1rem;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}